body {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1,
h3 {
    font-family: 'PT Serif', serif;
}

h2,
h4,
p {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.25;
    font-weight: 700;
}

h2 {
    font-size: 1.125rem;
    font-weight: 600;
}

h3 {
    writing-mode: vertical-lr;
    font-size: clamp(0.625rem, 1vw, 0.875rem);
    font-weight: 400;
    font-style: normal;
}

p,
h4 {
    font-size: clamp(0.875rem, 1vw, 1.125rem);
}

h4 {
    font-weight: 600;
}

p {
    font-weight: 400;
    line-height: 1.2;
}

.team_presentation_member {
    width: 100%;
    display: grid;
}

.team_member {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2.5rem;
}

.member_card {
    max-width: 300px;
   
}

.member {
    display: flex;
}

.member img {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    .team_presentation_text {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .introduction {
        max-width: 300px;
    }

    .team_member {
        margin-top: 2.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2.5rem;
    }
}